<div class="container__big-card">


    <div class="big-card__photo">

        <img src="https://media3.s-nbcnews.com/i/MSNBC/Components/Photo/_new/100506-ironman2-hmed.jpg"
        alt=""
        height="200px"
        width="400px">

    </div>

      <div class="big-card__title">

        <h1><a href="#">Saiu a nova versão do Angular</a></h1>

      </div>

    <div class="big-card__description">

        <p>
          <a href="#">
          texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
          texto texto texto texto
          </a>
        </p>

    </div>

</div>
